.ct-grid {
  stroke: rgb(122, 122, 122);
}

.ct-label {
  color: rgb(238, 238, 238);
}

.ct-series-a .ct-line {
  stroke: #c1450c;
  stroke-width: 1px;
}
.ct-series-b .ct-line {
  stroke: #c1af0c;
  stroke-width: 1px;
}
.ct-series-c .ct-line {
  stroke: #a6c10c;
  stroke-width: 1px;
}
.ct-series-d .ct-line {
  stroke: #3fc10c;
  stroke-width: 1px;
}
.ct-series-e .ct-line {
  stroke: #0cc162;
  stroke-width: 1px;
}

.ct-series-a .ct-area {
  fill: #c1450c;
  fill-opacity: 0.25;
}
.ct-series-b .ct-area {
  fill: #c1af0c;
  fill-opacity: 0.25;
}
.ct-series-c .ct-area {
  fill: #a6c10c;
  fill-opacity: 0.25;
}
.ct-series-d .ct-area {
  fill: #3fc10c;
  fill-opacity: 0.25;
}
.ct-series-e .ct-area {
  fill: #0cc162;
  fill-opacity: 0.25;
}

.ct-series-a .ct-bar {
  stroke: #0cc162;
}
.ct-series-b .ct-bar {
  stroke: #0cc139;
}
.ct-series-c .ct-bar {
  stroke: #3fc10c;
}
.ct-series-d .ct-bar {
  stroke: #73c10c;
}
.ct-series-e .ct-bar {
  stroke: #a6c10c;
}
.ct-series-f .ct-bar {
  stroke: #afc10c;
}
.ct-series-g .ct-bar {
  stroke: #c1b50c;
}
.ct-series-h .ct-bar {
  stroke: #c1af0c;
}

.ct-series-i .ct-bar {
  stroke: #c1880c;
}
.ct-series-j .ct-bar {
  stroke: #c1450c;
}

#tooltip[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}
